/*body{
    position: relative;
    background-color: rgba(0, 0, 0, 0.912);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100rem;
    height: 914px;
    font-family: cursive;
}
 div{
    position: sticky;
    list-style: none;
    display: block;
    color: rgb(240, 238, 238);
    font-family: cursive;
    font-size: 3rem; 
    text-align: center;
    padding-top: 25vh;
} 

td:hover{
    border-radius:20px;
    background-color: rgba(210, 105, 30, 0.481);
    width: fit-content;
    color: rgb(219, 216, 216);
    transition-duration: 2s;
    border-radius: 70% 10% 70% 10%;
}

.nav table{
    background-color: rgba(0, 0, 0, 0.597);
    margin-bottom: 0px;
    position: fixed;
    display: inline;
    top: 0px;
    left: 0vw;
    padding-left: 10%;
    width:100rem;
    height: fit-content;
    color: rgb(219, 216, 216);
    text-shadow:0px 0px 5px rgba(38, 20, 8, 0.623);
    font-family: cursive;
    font-size: 1.3rem; 
    cursor: pointer;
}
table td{
    padding: 10px;
}
a{
    text-decoration: none;
    color:white;
}*/



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}


 
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}
/*
section:nth-child(even){
    background:#eee;
}*/

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}


header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}

header .navbar a{
    font-size: 2.5rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
    font-family: cursive;
}

header .navbar a.active,
header .navbar a:hover{
    color:rgb(255, 119, 7);
    background: black;
    border-radius: 70% 10% 70% 10%;
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    /* color:var(--black); */
    color: rgb(255, 119, 7);
    border-radius: 50%;
    background: black;
}

header .icons i:hover,
header .icons a:hover{
    /* color:#fff; */
    /* background: var(--green); */
    color: rgb(255, 119, 7);
    background: #000;
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}/*
body{
    position: relative;
} */
#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(--green);
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
}


@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:black;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:black;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }
   
    .social{
        margin-top:-55%;
      left: 120rem;
      height: 100vh;
    }
    .social a{
        margin-bottom: 30%;
        background-color: rgba(255, 98, 0, 0.848);

    }
   
    
}
.Aboutus{
    width: 80rem;
}
img:hover{
    animation: scaleUp  2s ease-in-out infinite;
     
}
body{
    background-color: black;
}
@keyframes scaleUp {

    0%,
    100% { transform: translateY(0) scale(1); }
  
    50% { transform: translateY(-5px) scale(1.05);}
  
  }


























.Aboutus{
    background-image: url(sig.jpg);
    height: 100rem;
    width: 150rem;
    margin-left: 0%;
    background-size:cover; 
     ; background-repeat: no-repeat;   
}
i{
    
    position: absolute;
    text-align: center;
    top:30rem;
    left:22.5rem;
    color:antiquewhite;
    font-size: 4rem;
    font-family: cursive;
}

.social{
right: -8%;
width: fit-content;
height:fit-content;
position: absolute;
z-index: 1;
top:6%;
margin-left: 10.5%;
background-color:rgba(0, 0, 0, 0);

}
.social a{
    background-color: rgba(0, 0, 0, 0.597);
    display: block;
    /* height: 22.5vh; */
    height: fit-content;
    width:24.5rem;
    padding:25% 50% 25% 50%;
    font-size: 5rem;
}
.social a:hover{
    background-color: black;
    display: block;
    
    transition-duration: 2s;
    border-radius: 50%;
}
.fs{
    background-color:black;
    position: absolute;
    /* top:55.3rem; */
    width: 100rem;
    height:75rem;
    z-index: 5;
}
.fs iframe{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0%;
    border: 0px;
    background-color: #000;
}
.fs p{
    position: absolute;
    height: 100%;
    right:-7% ;
    text-align: center;
    font-style: italic;
    font-size: 5rem;
    color: white;
}
.cs{
background-color: black;
position: absolute;
top:172rem;
margin-top: 10%;
height: 100%;
width: 110rem;
/* height: 57rem; */
height: 100vh;
}
.cs img{
    position: absolute;
    top: 0rem;
    left: 0%;
    background-size: cover;
    width: 60rem;
    height: 150vh;
    background-position: center;
}
.cs textarea{
    background-color: black;
    padding-top: 1% ;
    padding-left:1%;
    top:70%;
    position: absolute;
    left: 40.5rem;
    width:53%;
    height: 10%;
    color: chocolate;
    font-size: 2.5rem;
    font-style: italic;
    font-family: cursive;
    border:2px solid rgba(210, 105, 30, 0.481);
    border-radius: 100px 20px;
    padding-left: 30px;
    margin-left: 20%;

    

}
.cs textarea:focus{
    outline: 0px;
}

.cs input{
    position: absolute;
    top: 25%;
    left: 40.5rem;
    background-color: black;
    width:25%;
    height: 5%;
    border:2px solid rgba(210, 105, 30, 0.481);
   border-radius: 100px 20px;
    padding-left: 20px;
    color: chocolate;
    margin-left: 20%;
}
input:focus{
    outline: 0px;
    color: chocolate;
    font-size: 2.5rem;
}
.cs p{
    position: absolute;
    top:10%;
    left: 80rem;
    color: rgba(210, 105, 30, 0.481);
    font-style: italic;
    font-size: 4rem;
}
#b{
    color:rgba(210, 105, 30, 0.481);
    font-size: 4rem;
    border-radius:40px 2px;
    width: fit-content;
    height: fit-content;
}
